<!DOCTYPE html>
<html ng-app="wtacticsApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>WTactics Cards</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/sharedCode")
    @Scripts.Render("~/bundles/code")
    @Scripts.Render("~/bundles/angularTemplates")

</head>
<body ng-controller="ApplicationController">

    @RenderBody()

   
</body>
</html>
